body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.container {
  background: #0062ff;
  background: linear-gradient(
    98deg,
    rgba(0, 98, 255, 1) 0%,
    rgba(0, 94, 255, 1) 37%,
    rgba(43, 166, 227, 1) 77%
  );
  height: 700px;
  width: 900px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  display: flex;
  padding: 20px;
}
h1 {
  margin-top: -10px;
}
h2 {
  margin-left: 40px;
}
.headertext {
  display: flex;
  gap: 30px;
  padding-top: 10px;
  margin-left: 170px;
  justify-content: right;
  align-items: start;
}
button {
  background-color: rgb(200, 57, 57);
  color: aliceblue;
  border-radius: 20px;
  z-index: 2;
  padding: 5pxpx;
}

#icon {
  max-width: 50px;
  max-height: 50px;
  border-radius: 20px;
  margin-left: 20px;
  position: relative;
  left: 20px;
}

.containertext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 50px;
  width: 450px;
  margin-top: 70px;
}
#half {
  background: linear-gradient(
    98deg,
    rgba(0, 98, 255, 1) 0%,
    rgba(0, 94, 255, 1) 37%,
    rgba(43, 166, 227, 1) 77%
  );
  border: 20px;
  z-index: 2;
  position: absolute;
  left: 80%;
  margin-top: 90px;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}
input {
  border-radius: 400px;
  width: 320px;
  z-index: 1;
  height: 30px;
  margin-left: 10px;
}
.containersearch {
  border-radius: 1000px;
  margin-left: 40px;
  margin-top: 30px;
}
.search {
  position: absolute;
  left: 35%;
  height: 35px;
}

.containerpic {
  display: flex;
  align-items: end;
  max-height: 350px;
  max-width: 350px;
  display: inline;
  margin-right: 20px;
  border-radius: 20px;
  position: absolute;
  left: 60%;
  z-index: 1;
  margin-top: 69px;
}
#sale {
  background-color: red;
  border-radius: 100px;
  border: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 10px;
  z-index: 2;
  position: absolute;
  left: 59%;
  margin-top: 380px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: large;
  font-weight: bold;
}

.boxes {
  background-color: aliceblue;
  grid-row: 4;
  grid-template-columns: 1;
}
