body {
  background: #ffffff;
  background: linear-gradient(
    188deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 254, 254, 1) 2%,
    rgba(121, 222, 238, 1) 71%,
    rgba(138, 226, 240, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  color: rgb(4, 4, 116);
  margin-left: 50px;
  margin-right: 50px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial sans-serif;
  font-weight: bold;
  display: inline;
  margin-top: 40px;
  position: absolute;
  width: 250px;
}
h5 {
  font-family: Arial, Helvetica, sans-serif;
}
.home {
  display: inline;
  display: flex;
  gap: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  font-size: smaller;
  margin-right: -40px;
}
.header {
  display: inline;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: inline;
  display: flex;
  gap: 19px;
  width: 10px;
  height: 10px;
  margin-right: 50px;
}

#golshi {
  max-width: 240px;
  position: absolute;
  display: inline-flex;
  right: 10vh;
  top: 19vh;
  border-radius: 90px;
}
h1 {
  font-size: 60px;
  flex-wrap: wrap;
  text-wrap: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -20px;
  margin-left: -5px;
  margin-bottom: -15px;
}

#resume {
  background-color: rgb(246, 246, 116);
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border-color: blue;
  border: 1px solid;
}

.bottom {
  padding-bottom: 50px;
}

#aboutyellow {
  margin-top: 150px;
  color: rgb(246, 246, 116);
}

#workyellow {
  color: rgb(246, 246, 116);
}

#textbox {
  width: 600px;
  height: 200px;
  display: flex;
  justify-items: flex-end;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  font-weight: 90;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  left: 200px;
  top: -100px;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

ul {
  list-style: none; /* hide default bullets */
  padding-left: 0; /* optional, remove default padding */
}

ul li::before {
  content: "";
  display: inline-block;
  width: 16px; /* your desired size */
  height: 16px;
  background-image: url("./horse.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px; /* space between image and text */
  vertical-align: middle;
}

li {
  font-weight: bold;
  padding-top: 30px;
}

.worksection {
  display: flex;
  gap: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.workpic {
  max-height: 200px;
  min-height: 200px;
  display: inline;
  border-radius: 30px;
}

.date {
  font-size: smaller;
  font-style: italic;
  font-weight: 100;
}

.casestudytext {
  font-size: small;
  font-weight: 100;
  width: 300px;
}

.contactsection {
  display: flex;
  width: 700px;
  gap: 50px;
  font-weight: 100;
}

#contact {
  color: rgb(246, 246, 116);
  margin-top: 50px;
  margin-bottom: 20px;
}

#contactpen {
  max-width: 400px;
  max-height: 200px;
  gap: 20px;
}

.contacttext {
  width: 700px;
  font-weight: 100;
  gap: -10px;
}
