body {
  background-color: rgb(254, 255, 255);
  color: rgb(0, 0, 0);
}

#profile {
  width: 100%;
  max-width: 50vh;
  max-height: auto;
  position: relative;
  left: 100vh;
  top: -20vh;
  background-size: 100% auto;
}
.container {
  width: 100%;
}
button {
  background-color: rgb(0, 149, 255);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 1000%;
  font-size: 150%;
  border-radius: 20px;
}

.profiletop {
  display: inline;
  justify-content: start;
}

.profiletext {
  font-size: 200%;
  margin-top: -20;
  flex-wrap: wrap;
  height: 10px;
  width: 470px;
  margin-left: 20vh;
}

h1 {
  color: rgb(7, 10, 11);
  font-weight: bold;
  margin-top: 20vh;
  margin-left: 20vh;
  font-size: 500%;
  font-family: Arial, Helvetica, sans-serif;
}

.header1 {
  background-color: rgb(0, 149, 255);
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: smaller;
  max-width: 80%;
  margin-left: 10vh;
  margin-top: -1vh;
  border-radius: 20px;
}

.header2 {
  background-color: rgb(21, 21, 21);
  font-size: x-small;
  display: none;
  width: 100px;
}
.lol {
  display: none;
}

#menu {
  margin-left: 20px;
  color: aliceblue;
}
@media only screen and (max-width: 480px) {
  .header2 {
    display: flex;
    margin-left: 20vh;
  }
  #profile {
    width: 100%;
    max-width: 10vh;
    max-height: auto;
  }
  h1 {
    font-size: 3em;
    margin-top: 2em;
  }
  .container {
    margin-left: -10em;
  }
  p {
    font-size: 0.5em;
    max-width: 10em;
  }
  button {
    width: 5em;
    height: auto;
    font-size: smaller;
  }
  .header1 {
    display: none;
  }
  .header2:hover {
    .lol {
      display: flex;
    }
    #menu:hover {
      display: none;
    }
  }
}
